@model TDLC.UI.Models.HomeViewmodel



<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="pt-br"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="pt-br"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="pt-br"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="pt-br">
<!--<![endif]-->
<head>


    @Html.Partial("_head")



</head>

<body id="page-top" class="main" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- ==============================================
    Preloader
    =============================================== -->
    @Html.Partial("_preloader")


    <!-- ==============================================
    Video background
    =============================================== -->
    <!--
    <video autoplay loop id="video-background" muted>
        <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4">
    </video>
    -->
    <div class="video-background">
        <div class="video-foreground">
            <iframe id="video-destaque" src='@ConteudoInstitucionalHelper.GetText( Convert.ToString( Session["cultura"]) , "VID_HOME")' frameborder="0" volume="0" allowfullscreen></iframe>
        </div>
    </div>
    <script>
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        var player;

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('video-destaque', {
                events: {
                    'onReady': onPlayerReady
                }
            });
        }

        function onPlayerReady(event) {
            player.mute();
        }
    </script>

    <!-- ==============================================
    Header
    =============================================== -->
    <header id="header">


        @Html.Partial("_header")



    <div class="wrap">


        <div class="container">
            <div class="row">


                @foreach (var item in Model.Destaques_topo)
            {
                   <div class='col-lg-5 col-md-5 col-sm-5 col-xs-12 item item-notice @(string.IsNullOrWhiteSpace(item.Imagem1) ? "noimg" : "")'>
                        <div class="inner">
                            <img class="pull-left img-lg" src='@(string.IsNullOrWhiteSpace(item.Imagem1) ? "data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" : Url.Content("~/Content/Uploads/" + item.Imagem1) )' alt="@item.Destaque_Titulo" width="176" height="192">


                            <h2>  @item.Destaque_Categoria  </h2>
                            <h3> @item.Destaque_Titulo_Home_Topo</h3>
                            <p>@item.Destaque_Texto   </p>
                            <a class="btn" href='@Url.Content("~/comunicacao/" +item.Tipo + "/"+ item.URL +"" )' role="button">+</a>
                        </div><!-- /inner -->
                    </div><!-- /.col-lg-5 -->

                }






            </div><!-- /.row -->
        </div><!-- /.container -->




    </div>












    </header><!-- /header -->
    <!-- ==============================================
    Features
    =============================================== -->
    <section class="sec_featutes">
        <div class="container">


            <div class="row">




                @foreach (var item in Model.Destaques_home)
                {
                    <div class="col-lg-4 col-md-4 item image">

                        @if (!string.IsNullOrEmpty(item.Imagem2))
                        {
                            <img class="" src='@Url.Content("~/Content/Uploads/" + item.Imagem2 )' alt="Generic placeholder image" width="100%" height="147">
                        }



                        <div class="inner">
                            <a class="btn" href='@Url.Content("~/comunicacao/" +item.Tipo + "/"+ item.URL +"" )' role="button">+</a>
                            <h2>@item.Destaque_Categoria</h2>
                            <h3>@item.Destaque_Titulo_Home_Corpo </h3>
                            <p>
                                @item.Destaque_Texto
                            </p>
                        </div><!-- /inner -->
                    </div><!-- / -->
                }



            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /sec_featutes -->
    <!-- ==============================================
    Perfil
    =============================================== -->
    <section class="sec_profile">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-7 col-lg-5 col-md-offset-6 col-md-6 cont_profile">
                    <div class="inner">
                        <h1>   @ConteudoInstitucionalHelper.GetText(Convert.ToString(Session["cultura"]), "CTA_01_Escritório_Título")   </h1>
                        <p>
                            @Html.Raw(ConteudoInstitucionalHelper.GetText(Convert.ToString(Session["cultura"]), "CTA_01_Escritório_Descrição"))
                        </p>
                        <a class="btn btn-default big pull-right" href='@Url.Content("~/"+ Session["cultura"] +"/Escritorio")' role="button">
                            @ConteudoInstitucionalHelper.GetText(Convert.ToString(Session["cultura"]), "BTN_SAIBA_MAIS")



                            <span class="ico type01" aria-hidden="true"></span>
                        </a>
                    </div><!-- /inner -->
                </div><!-- / -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /sec_featutes -->
    <!-- ==============================================
    Equipe
    =============================================== -->
    <section class="sec_equipe">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                    <div class="inner">
                        <h1>
                        
                        @Html.Raw( @ConteudoInstitucionalHelper.GetText(Convert.ToString(Session["cultura"]), "CTA_02_Equipe_Título") )
                        
                        </h1>
                        <p>
                            @Html.Raw( ConteudoInstitucionalHelper.GetText(Convert.ToString(Session["cultura"]), "CTA_02_Equipe_Descrição"))


                        </p>
                        <a class="btn btn-default big" href='@Url.Content("~/"+ Session["cultura"] +"/Equipe")' role="button">

                         @Html.Raw(    @ConteudoInstitucionalHelper.GetText(Convert.ToString(Session["cultura"]), "BTN_CONHEÇA_NOSSOS_ADVOGADOS"))



                            <span class="ico type01" aria-hidden="true"></span>
                        </a>
                    </div><!-- /inner -->
                </div><!-- / -->
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="equipe_home">

                        <div><img src='@Url.Content("~/Content/Uploads/" +  ConteudoInstitucionalHelper.GetImage("CTA_02_Equipe_ImgPessoas01")   )' class="img-responsive" alt=""></div>
                        <div><img src='@Url.Content("~/Content/Uploads/" +  ConteudoInstitucionalHelper.GetImage("CTA_02_Equipe_ImgPessoas02")   )' class="img-responsive" alt=""></div>
                        <div><img src='@Url.Content("~/Content/Uploads/" +  ConteudoInstitucionalHelper.GetImage("CTA_02_Equipe_ImgPessoas03")   )' class="img-responsive" alt=""></div>
                        <div><img src='@Url.Content("~/Content/Uploads/" +  ConteudoInstitucionalHelper.GetImage("CTA_02_Equipe_ImgPessoas04")   )' class="img-responsive" alt=""></div>



                    </div>
                    <!-- <img src="img/img_home_equipe.png" alt=""> -->
                </div><!-- / -->
            </div><!-- /row -->
        </div><!-- /container -->
    </section><!-- /sec_featutes -->
    <!-- ==============================================
    Footer
    =============================================== -->
    @Html.Partial("_footer")

</body>
</html>
